@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;600&display=swap');

:root {
    --rosa: #e8947c;
    --branco: #fcecdc;
    --bege-escuro:     #a47c5c;        
    --marrom:#512d20;     
    --bege-claro: #d0afa0;
    /*--linear-botes: linear-gradient(180deg, #a47c5c 0%, #d0afa0 100%);*/
     --linear-botes: linear-gradient(180deg, #512d20 0%, #d0afa0 100%);
     --main-bg-color: linear-gradient(180deg, #412217 0%, #957c70 48.44%, #512d20 100%);
    /*--main-bg-color: linear-gradient(180deg, #e8947c 0%, #d0afa0 48.44%, #512d20 100%);*/
}


* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
    font-size: 10px;
}
.app_section{
    width: 99rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}
.frase{
    line-height: 150%;
    font-size: 5.2rem;
    font-style: normal;
    color: var(--branco);
    font-weight: 200;
    max-width: 46rem;
    font-family: 'Kalnia', serif;
}

.imagemDestaque{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    margin-top: 50px;
    border: var(--branco) 8px solid;
}

.frase_ngrito{
    font-weight: 600;
}

.regiao_timer{
    display: flex;
    justify-content: center;
}

.card{
    border-radius: 3.2rem;
    border: 0.2rem solid var(--marrom);
    background: var(--branco);
    padding: 3rem;
    margin: 2rem 0;
    width: 59rem;
    height: 27rem;
    max-width: 90%;
}



.card-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.card_btn{
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: none;
    padding: 0.8rem;
    color: var(--marrom);
    border: none;
    cursor: pointer;
    outline: inherit;
}

.card_btn:hover{
    color: var(--branco);
    
}

.card_btn.active{
    border-radius: 0.8rem;
    background: var(--bege-claro);
    font-weight: 600;
  
    
}

.card-timer{
    color: var(--marrom);
    text-align: center;
    font-family: Unbounded;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1.2rem;
    text-align: center;

}

.card-timer-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__btn{
    padding: 0.8rem;
    width: 12rem;
    color: var(--branco);
    border: none;
    cursor: pointer;
    outline: inherit;
    border-radius: 3.2rem;
    background: var(--linear-botes);
    /*margin-top: 3.2rem;*/
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer{
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 60px;
    
    width: 100%;
    background: var(--marrom);
}
.footer-text{
    color: var(--branco);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* EDICAO PARTE TAREFAS*/

/* dropdown */
.dropdown-container{
    position: relative;
}

.tarefas__ul{
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    min-width: 24rem;
    padding: 1.6rem;
}

.tarefas__ul:hover,
.btn_more:hover ~.tarefas__ul{
    display: block;
    text-align: right;
    border-radius: 0.8rem;
    border:  0.2rem solid var(--marrom );
    background: var(--rosa-escuro);
}
.tarefas__lista{
    margin: 1.6rem 0;
}

.tarefas__lista-btn{
    width: 100%;
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--marrom);
    gap: 0.8rem;
}

/* fim - dropdown */


/*Responsividade para tablet*/

@media(max-width: 1024px) and (min-width: 768px){
    .app_section{
        width: 48rem;
    }
}
/* Para celular */

@media (max-width: 767px){
    .app_section{
        width: 32rem;
    }
    .frase{
        font-size: 2.6rem;
    }
    .card-timer{
        font-size: 6rem;
    }
    .tarefa__ativa{
        gap: 2rem;
    }
}

.hidden{
    display: none;
}

.tarefas__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tarefas__conteudo{
    width: 59rem;
    max-width: 90%;
    color: #fff;
}

.tarefa__ativa{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 4rem 0;
    border-bottom: 1px solid var(--marrom);
    margin: 4rem;
}

.form-textarea,
.form-textarea::placeholder{
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    white-space: nowrap;
    font-family: Montserrat;
}

.tarefa__descricao{
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.tarefa__titulo{
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.tarefa__topo{
    display: flex;
    justify-content: space-between;
}

.btn-edit,
.btn_more{
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.tarefa__label{
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tarefas__todolist{
    margin-top: 2.4rem;
    margin-bottom: 4rem;
}

.tarefas__todolist-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.8rem;
    background: var(--fundo-card);
    margin-bottom: 0.8rem;
    padding: 1.6rem;
    box-sizing: border-box;
    cursor: pointer;
}

.tarefas__todolist-descricao{
    flex-grow: 1;
    margin: 0;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--marrom);
    font-family: Montserrat;
}

.tarefas__todolist-item-complete.tarefas__todolist-item{
    background: var(--fundo-card-concludo);
    cursor: inherit;
}

.tarefas__todolist-item-active.tarefas__todolist-item{
    border:2px solid #fff;
}
.tarefas__todolist-item-complete .tarefas__todolist-icon-status circle{
    fill: #00F4BF;
}

.add__tarefa{
    padding: 1.6rem;
    border-radius: 0.8rem;
    background: var(--fundo-card);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    font-family: Montserrat;
}

.form-label{
    color: var(--marrom);
    font-family: Unbounded;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: block;
    margin-bottom: 3.2rem;
}

.form-textarea{
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.8rem;
    background: #98A0A8;
}

.form__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
}

.form__footer .splitter{
    flex-grow: 1;
}

.form-footer__btn{
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: var(--marrom);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    gap: 0.8rem;
}

.form-footer__btn-salvar{
    border-radius: 3.2rem;
    padding: 0.8rem 2.4rem;
    color: #fff;
    background: var(--marrom);
}

.btn__addtarefa{
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--branco);
    border-radius: 3.2rem;
    border: 0.2rem solid var(--branco);
    width: 100%;
    margin-top: 4rem;
    padding: 1.8rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.btn-edit:disabled{
    color: #e6e6e6;
    opacity: 0.8;
    cursor: not-allowed;
}

